{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Sign up</div>
				<div class="panel-body">
					<form action="{{ path_for('auth.verify.email') }}" method="post" autocomplete="off">
						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" placeholder="team-c@ucsd.edu" class="form-control" value="{{ old.email }}"><button id="myVerify" type="submit" class="btn btn-default">Verify</button>
							{% if errors.email %}
								<span class="help-block">{{ errors.email | first }}</span>
							{% endif %}
						</div>
					</form>
					<form action="{{ path_for('auth.signup') }}" method="post" autocomplete="off">
						<input type="hidden" name="email" id="email" class="form-control" value="{{ old.email }}">
						<div class="form-group{{ errors.username ? ' has-error' : '' }}">
							<label for="name">Username</label>
							<input type="text" name="username" id="username" class="form-control" value="{{ old.username }}">
							{% if errors.username %}
								<span class="help-block">{{ errors.username | first }}</span>
							{% endif %}
						</div>
						<div class="form-group{{ errors.password ? ' has-error' : '' }}">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" class="form-control">
							{% if errors.password %}
								<span class="help-block">{{ errors.password | first }}</span>
							{% endif %}
						</div>
						<div class="form-group{{ errors.password_confirm ? ' has-error' : '' }}">
							<label for="password_confirm">Password Confirm</label>
							<input type="password" name="password_confirm" id="password_confirm" class="form-control">
							{% if errors.password_confirm %}
								<span class="help-block">{{ errors.password_confirm | first }}</span>
							{% endif %}
						</div>
						<div class="form-group{{ errors.age ? ' has-error' : '' }}">
							<label for="age">Age</label>
							<input type="text" name="age" id="age" class="form-control" value="{{ old.age }}" maxlength="3">
							{% if errors.age %}
								<span class="help-block">{{ errors.age | first }}</span>
							{% endif %}
						</div>
						<div class="form-group{{ errors.gender ? ' has-error' : '' }}">
							<label for="gender">Gender</label><br />
							<label class="radio-inline"><input type="radio" name="gender" value="female" checked>Female</label>
							<label class="radio-inline"><input type="radio" name="gender" value="male" >Male</label>
							{% if errors.gender %}
								<span class="help-block">{{ errors.gender | first }}</span>
							{% endif %}
						</div>
						<button type="submit" id="mySubmit" class="btn btn-default">Sign up</button>
						{% if verify %}
							<script>document.getElementById("mySubmit").disabled = false;</script>
						{% else %}
							<script>document.getElementById("mySubmit").disabled = true;</script>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}