{% extends 'templates/app.twig' %}

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
            <!-- Single Hero Slides -->
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                {% include 'templates/partials/flash.twig' %}
                <h2>Real Time Data</h2>    
                <div class="flex-container2">
                    <button id="rawbtn" type="button" class="login200-form-btn" style="width:100px; margin-left:230px" onclick="rawbtn_func()" >Raw</button>
                    <button id="aqibtn" type="button" class="login200-form-btn" style="width:100px; margin-left:50px" onclick="aqibtn_func()">AQI</button>
                </div>
                <div class="wrap-home">
                    <div id="realtimeview" class="flex-container">
                        <div><img src="{{ base_url() }}/img/cst/so2.png" alt="so2" style="width:50%;" class="imgcenter"> <div id="so2" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/co.png" alt="co" style="width:50%;" class="imgcenter"> <div id="co" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/no2.png" alt="no2" style="width:50%;" class="imgcenter"> <div id="no2" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/o3.png" alt="o3" style="width:50%;" class="imgcenter"> <div id="o3" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/pm25.png" alt="pm25" style="width:50%;" class="imgcenter"> <div id="pm25" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/temp.png" alt="temp" style="width:50%;" class="imgcenter"> <div id="temp" class="border-top-1"></div></div>
                        <div><img src="{{ base_url() }}/img/cst/heart.png" alt="heart" style="width:50%;" class="imgcenter"> <div id="heart" class="border-top-1"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function rawbtn_func() {
            $("#realtimeview").load("{{ path_for('dashboard.raw.view') }}");
        }

        </script>

         <script>
        function aqibtn_func() {
            $("#realtimeview").load("{{ path_for('dashboard.aqi.view') }}");
        }
    </script>
    <script src="{{ base_url() }}/js/dashboard.js"></script>
    <!-- ***** Welcome Area End ***** -->
{% endblock %}