<!DOCTYPE html>
<html lang="en">
<head>
  <title>Signup RunTogether</title>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<!--===============================================================================================-->

      <!-- Favicon -->
    <link rel="icon" href="{{ base_url() }}/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="{{ base_url() }}/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{{ base_url() }}/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/util.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--===============================================================================================-->


</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/"><img src="{{ base_url() }}/img/core-img/logo.png" alt="logo"></a>

                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        
                                <ul class="navbar-nav animated" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    
                                    <li class="nav-item"><a class="nav-link" href="about.html">Calendar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services.html">Map</a></li>
                                    <li class="nav-item active"><a class="nav-link" href="auth/chart">Statistics</a></li>
                                                                       
                                </ul>
                                <ul class="collapse navbar-collapse justify-content-end navbar-nav animated" id="nav">
                                    <!-- Login/Register btn -->
                                
                                    <li class="nav-item "><a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fas fa-sign-in-alt"></i></i> LogIn</a></li>
                                

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
  
    <div class="limiter">
      <div class="container-login100" >
        <div class="wrap-chart p-t-50 p-b-90" >
          <form class="login100-form validate-form flex-sb flex-w ">

            <div class="btn-group" style="margin-left: 150px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">CO</a>
                <a class="dropdown-item" href="#">CO2</a>
                <a class="dropdown-item" href="#">NO2</a>
                <a class="dropdown-item" href="#">SO2</a>
                <a class="dropdown-item" href="#">O3</a>
                <a class="dropdown-item" href="#">PM 2.5</a>
                <a class="dropdown-item" href="#">PM 10</a> 
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">HeartRate</a>
              </div>

             <div style="margin-left: 600px;">
                <div>
                  
                  <button type="button" class="btn btn-outline-primary">A week</button>
                  <button type="button" class="btn btn-outline-primary">A Month</button>
                  <button type="button" class="btn btn-outline-primary">3 Months</button>
                </div>
              </div>
            </div>
            
           <div>
              <div id="curvchart"></div>
            </div>
         

          </form>
        </div>
      </div>
    </div>
    </div>


<template>
  <div>
  <b-form-group label="Button style radios with <code>outline-primary</code> variant and size <code>lg</code>">
      <b-form-radio-group id="btnradios2"
                          buttons
                          button-variant="outline-primary"
                          size="lg"
                          v-model="selected"
                          :options="options"
                          name="radioBtnOutline" />
    </b-form-group>
</div>
</template>

  

  <div id="dropDownSelect1"></div>
  
<!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
 
<!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--===============================================================================================-->
  <script src="js/main.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Friends', 2],
  ['Eat', 2],
  ['TV', 3],
  ['Gym', 2],
  ['Sleep', 7]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {
          title: '',
          curveType: 'function',
          legend: { position: 'bottom' },
          width: 1200,
          height: 500,
        };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.LineChart(document.getElementById('curvchart'));
  chart.draw(data, options);
}
</script>

</body>
</html>