<template>
	<div>
	<b-form-group label="Button style radios with <code>outline-primary</code> variant and size <code>lg</code>">
      <b-form-radio-group id="btnradios2"
                          buttons
                          button-variant="outline-primary"
                          size="lg"
                          v-model="selected"
                          :options="options"
                          name="radioBtnOutline" />
    </b-form-group>
</div>
</template>

	<div id="dropDownSelect1"></div>

	<script src="{{ base_url() }}/js/main.js"></script>
    <!-- jQuery-2.2.4 js -->
    <script src="{{ base_url() }}/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{{ base_url() }}/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0/js/bootstrap.min.js"></script>-->
    <!-- All Plugins js -->
    <script src="{{ base_url() }}/js/plugins.js"></script>
    <!-- Active js -->
    <script src="{{ base_url() }}/js/active.js"></script>

</body>
</html>