{% extends 'templates/app.twig' %}

{% block content %}
<script src="{{ base_url() }}/js/dist.js"></script>
<script src="{{ base_url() }}/js/utils.js"></script>
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
  
    <div class="limiter">
      <div class="container-login100" >
        <div class="wrap-chart p-t-50 p-b-90" >
          <form class="login100-form validate-form flex-sb flex-w ">

            <span class="login400-form-title p-b-51">
              <font color="#36287E">Historical chart</font><br><br>
               <div class="flex-container3">
                <span style="margin-right:20px;"><b>RAW</b></span>
                <button><a onclick="chartview(chartview.period, 'no2')">NO2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'so2')">SO2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'co')">CO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'o3')">O3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'pm25')">PM2.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'heart')">HEART&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'temp')">TEMPERATURE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                
               </div>
               <div class="flex-container3">
                <span style="margin-right:28px;"><b>AQI</b></span>
                <button><a onclick="chartview(chartview.period, 'no2aqi')">NO2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'so2aqi')">SO2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'coaqi')">CO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'o3aqi')">O3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'pm25aqi')">PM2.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
                <button><a onclick="chartview(chartview.period, 'totalaqi')">TOTAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
               </div>

               <button><a onclick="chartview(7, chartview.viewtype)"> 1 week </a></button>
               <button><a onclick="chartview(30, chartview.viewtype)"> 1 Month </a></button>
               <button><a onclick="chartview(90, chartview.viewtype)"> 3 Month </a></button>

               
            </span>
              <canvas id="no2canvas"></canvas>  
          </form>
        </div>
      </div>
    </div>
    </div>
<!--    <script type="text/javascript" src="{{ base_url() }}/js/jquery-2.2.4.min.js"></script>-->
    <script type="text/javascript" src="{{ base_url() }}/js/Chart.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/app.js"></script>
    <script>
      chartview.period=7;
      chartview.viewtype='no2';
    </script>
{% endblock %}